@{
    ViewData["Title"] = "Education";
}

<h2>Academic Record</h2>
<p>
    My academic journey has equipped me with a solid foundation in technology and the sciences.  
    I have excelled in subjects like Mathematics, English, and Physics, which underpin my technical studies and problem-solving abilities.
</p>

<!-- Bachelors in Software Development sub info. -->
<img class="institution_logo" src="assets/UMLOGO_red_transparent.png" alt="University of Malta Logo">
<h2>Tertiary Education: Bachelors in Information Technology, Software Development (UM)</h2>
<p>
    I am currently enrolled in the BCs in Information Technology, Software Development program at the University of Malta.  
    I am currently completing the second of three years.
    The course emphasizes advanced programming, system design, and modern computing technologies, bridging theoretical concepts with practical applications.
</p>

<table border="1">
    <tr>
        <th><i>Year</i></th>
        <th><i>Code</i></th>
        <th><i>Study-Unit Title</i></th>
        <th><i>%</i></th>
        <th><i>Grade</i></th>
    </tr>
    <!-- 2025/2026 -->
    <tr>
        <th>2025/6</th>
        <th>CIS2103</th>
        <th>Distributed Computing and Distributed Databases</th>
        <th>67</th>
        <th>C+</th>
    </tr>
        <tr>
        <th>2025/6</th>
        <th>CIS2206</th>
        <th>Software Development Methods and Techniques</th>
        <th>87</th>
        <th>A</th>
    </tr> 
        <tr>
        <th>2025/6</th>
        <th>CIS2209</th>
        <th>Research Methods</th>
        <th>89</th>
        <th>A</th>
    </tr> 
        <tr>
        <th>2025/6</th>
        <th>CIS2350</th>
        <th>Business Applications of AI</th>
        <th>90</th>
        <th>A+</th>
    </tr> 
        <tr>
        <th>2025/6</th>
        <th>CPS2005</th>
        <th>Formal Languages and Automata</th>
        <th>49</th>
        <th>D</th>
    </tr> 
        <tr>
        <th>2025/6</th>
        <th>CSP2003</th>
        <th>Communication and Academic Skills 2: Physical Sciences</th>
        <th>72</th>
        <th>B</th>
    </tr> 
        <tr>
        <th>2025/6</th>
        <th>ICS2211</th>
        <th>Game AI</th>
        <th>84</th>
        <th>A</th>
    </tr> 
    <!-- 2024/2025 -->
    <tr>
        <th>2024/5</th>
        <th>LIN1063</th>
        <th>Academic Reading and Wriging in English</th>
        <th>67</th>
        <th>C+</th>
    </tr>
        <tr>
        <th>2024/5</th>
        <th>ICT1018</th>
        <th>Data Structures and Algorithms</th>
        <th>66</th>
        <th>C+</th>
    </tr>
    <tr>
        <th>2024/5</th>
        <th>CSP1000</th>
        <th>Communication and Academic Skills 1: Core Skills</th>
        <th>74</th>
        <th>B</th>
    </tr>
    <tr>
        <th>2024/5</th>
        <th>SOR0210</th>
        <th>Data Treatment and Probability</th>
        <th>76</th>
        <th>B+</th>
    </tr>
    <tr>
        <th>2024/5</th>
        <th>CIS1225</th>
        <th>Introduction to Structured Development</th>
        <th>62</th>
        <th>C+</th>
    </tr>
    <tr>
        <th>2024/5</th>
        <th>CIS1224</th>
        <th>Computer Platforms</th>
        <th>67</th>
        <th>C+</th>
    </tr>
    <tr>
        <th>2024/5</th>
        <th>CIS1221</th>
        <th>Principles and Paradigms of Programming Languages</th>
        <th>84</th>
        <th>A</th>
    </tr>
    <tr>
        <th>2024/5</th>
        <th>CIS1220</th>
        <th>Programmiong in Python</th>
        <th>89</th>
        <th>A</th>
    </tr>
</table>



<!-- Foundation in ICT sub info. -->
<img class="institution_logo" src="assets/UMLOGO_red_transparent.png" alt="University of Malta Logo">
<h2>Tertiary Education: Foundation in ICT</h2>
<p>The Foundation in ICT program introduced me to key concepts in computer systems, digital literacy, and basic programming.  It served as a critical stepping stone toward more specialized studies in technology and software development.</p>

<table border="1">
    <tr>
        <th><i>Year</i></th>
        <th><i>Code</i></th>
        <th><i>Study-Unit Title</i></th>
        <th><i>%</i></th>
        <th><i>Grade</i></th>
    </tr>
    <tr>
        <th>2023/4</th>
        <th>CIS0001</th>
        <th>Introduction to Information Systems</th>
        <th>89</th>
        <th>A</th>
    </tr>
    <tr>
        <th>2023/4</th>
        <th>ELP1062</th>
        <th>English Proficiency</th>
        <th>58</th>
        <th>C</th>
    </tr>
    <tr>
        <th>2023/4</th>
        <th>ELP1063</th>
        <th>English Speech Fluency</th>
        <th>74</th>
        <th>B</th>
    </tr>
    <tr>
        <th>2023/4</th>
        <th>ELP1426</th>
        <th>English Writing Skills</th>
        <th>70</th>
        <th>B</th>
    </tr>
    <tr>
        <th>2023/4</th>
        <th>FST0412</th>
        <th>Introduction to Computer Systems and Programming</th>
        <th>74</th>
        <th>B</th>
    </tr>
    <tr>
        <th>2023/4</th>
        <th>IFS0011</th>
        <th>Algebraic Techniques, Trigonometry and Vectors</th>
        <th>70</th>
        <th>B</th>
    </tr>
    <tr>
        <th>2023/4</th>
        <th>IFS0012</th>
        <th>Coordinate Geometry, Matrices and Probability</th>
        <th>63</th>
        <th>C+</th>
    </tr>
    <tr>
        <th>2023/4</th>
        <th>IFS0013</th>
        <th>Complex Numbers, Functions and Series</th>
        <th>65</th>
        <th>C+</th>
    </tr>
    <tr>
        <th>2023/4</th>
        <th>IFS0014</th>
        <th>Calculus and Numerical Methods</th>
        <th>45</th>
        <th>D</th>
    </tr>
    <tr>
        <th>2023/4</th>
        <th>IFS0126</th>
        <th>English Grammar and Logic</th>
        <th>89</th>
        <th>A</th>
    </tr>
    <tr>
        <th>2023/4</th>
        <th>IFS0410</th>
        <th>Advanced Programming and System Design</th>
        <th>74</th>
        <th>B</th>
    </tr>
    <tr>
        <th>2023/4</th>
        <th>IFS0428</th>
        <th>Principles of Motion, Moments and Waves</th>
        <th>81</th>
        <th>A</th>
    </tr>
    <tr>
        <th>2023/4</th>
        <th>IFS0429</th>
        <th>Fundamentals of Electrical Circuits and Electromagnetism</th>
        <th>76</th>
        <th>B+</th>
    </tr>
    <tr>
        <th>2023/4</th>
        <th>MNE0001</th>
        <th>Introduction to Instrumentation</th>
        <th>85</th>
        <th>A</th>
    </tr>
    </table>
            


<!-- Castletroy_drop sub info. -->
<img class="institution_logo" src="assets/CASTLETROY_COLLEGE_logo_transparent.png" alt="Castletroy College Logo">
<h2>Secondary Education: Castletroy College</h2>
<p>During my time at Castletroy College in Ireland, I successfully completed both the Junior and Leaving Certificate programs.  I achieved strong academic results in subjects including English, Mathematics, Science, and Applied Mathematics, which have contributed to my analytical and problem-solving skills.</p>
<table border="1">
    <tr>
        <th>Leaving Certificate</th>
    </tr>
    <tr>
        <th><i>Level</i></th>
        <th><i>Subject</i></th>
        <th><i>%</i></th>
        <th><i>Grade</i></th>
    </tr>
    <tr>
        <th>Higher</th>
        <th>English</th>
        <th>(60-70%)</th>
        <th>H4</th>
    </tr>
    <tr>
        <th>Higher</th>
        <th>Mathematics</th>
        <th>(80-90%)</th>
        <th>H2</th>
    </tr>
    <tr>
        <th>Higher</th>
        <th>Spanish</th>
        <th>(70-80%)</th>
        <th>H3</th>
    </tr>
    <tr>
        <th>Higher</th>
        <th>Applied Mathematics</th>
        <th>(60-70%)</th>
        <th>H4</th>
    </tr>
    <tr>
        <th>Higher</th>
        <th>Physics</th>
        <th>(90-100%)</th>
        <th>H1</th>
    </tr>
    <tr>
        <th>Higher</th>
        <th>Geography</th>
        <th>(80-90%)</th>
        <th>H2</th>
    </tr>
</table>
<br>
<table border="1">
    <tr>
        <th>Junior Certificate</th>
    </tr>
    <tr>
        <th><i>Level</i></th>
        <th><i>Subject</i></th>
        <th><i>%</i></th>
        <th><i>Grade</i></th>
    </tr>
    <tr>
        <th>Higher</th>
        <th>English</th>
        <th>(75-90%)</th>
        <th>Higher Merit</th>
    </tr>
    <tr>
        <th>Common</th>
        <th>Spanish</th>
        <th>(75-90%)</th>
        <th>Higher Merit</th>
    </tr>
    <tr>
        <th>Common</th>
        <th>Science</th>
        <th>(75-90%)</th>
        <th>Higher Merit</th>
    </tr>
    <tr>
        <th>Common</th>
        <th>Business Studies</th>
        <th>(75-90%)</th>
        <th>Higher Merit</th>
    </tr>
    <tr>
        <th>Higher</th>
        <th>Mathematics</th>
        <th>(70-85%)</th>
        <th>B</th>
    </tr>
    <tr>
        <th>Higher</th>
        <th>Geography</th>
        <th>(85-100%)</th>
        <th>A</th>
    </tr>
    <tr>
        <th>Higher</th>
        <th>History</th>
        <th>(85-100%)</th>
        <th>A</th>
    </tr>
    <tr>
        <th>Higher</th>
        <th>Materials technology Wood</th>
        <th>(85-100%)</th>
        <th>A</th>
    </tr>
</table>