@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Dariusz Krych - Online Portfolio</h1>
    <p>
        Welcome to my online portfolio. Here, you'll discover my academic results as well as a curated showcase of my 
        programming projects.
    </p>
    <p>
        This website is written with .NET 10 and has an MVC Architecture. It is hosted on an IONOS VPS. 
        Enjoy exploring, and stay tuned for updates!
    </p>

    <h2>Programming</h2>
    <p>
        I have a strong foundation in programming, with hands-on experience in both object oriented programming (OOP) 
        and functional programming (FP) paradigms.  My work in this area has honed my ability to design and implement 
        robust software solutions.
    </p>
    <h3>Python</h3>
    <p>
        I am most experienced in Python where I have developed a range of projects. 
        I adhere to best practices, ensuring my code is clean, efficient, and well-documented, which has been vital in 
        both academic and personal projects.  
    </p>
    <h3>Web Dev</h3>
    <p>
        I also enjoy doing web development.
        My expertise in HTML and CSS has enabled me to create responsive, user-friendly websites.  
        I focus on intuitive design and cross-browser compatibility to deliver engaging digital experiences.
    </p>
    <h3>C#</h3>
    <p>
        I also have some experinece in C#.
        I have written many projects in Unity with C# and I have written a bit for this Portfolio website.
    </p>
</div>



    